<section class="py-5">




    <div class="container py-3">
        <h3>What is a WalletBlocker?</h3>
        <p>A WalletBlocker is a credit card sized device that fits inside your wallet. It sits and waits until someone
            attempts to digitally steal your credit card information.
            When an attempt is made, the WalletBlocker sends out a stronger signal than your credit card that blocks
            the criminal's device from obtaining your credit card
            information. There is no battery so it will never die, and your wallet will always be covered.
        </p>

        <h3>Why do I need a WalletBlocker?</h3>
        <p>Everyday, thousands of identities are stolen and people are left to deal with the annoying struggle of
            resecuring their finances. One of the newest forms of theft is called
            credit card "skimming". Skimming is an act where a criminal mind puts together a device similar to a cash
            register payment kiosk, and then carries it around to crowded locations.
            When the device passes close enough to credit cards that are vulnerable, the cards activate and send out
            their information, unknown to their owner! The criminal then stores
            this information and sells it to various third parties who then use the stolen funds to purchase goods via
            the internet. Having a WalletBlocker prevents your cards from talking
            while they are inside your wallet. A cheap, safe alternative that lasts forever.
        </p>


        <ul class="displayList">
            <li><img src="/img/vulnerablewallet.png" alt="Your Wallet is Vulnerable"></li>
            <li><img src="/img/walletblocked.png" alt="Add a WalletBlocker"></li>
            <li><img src="/img/walletblockedhappy.png" alt="Protect Your Friends"></li>
        </ul>




    </div>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>